header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;

}

header div {
    display: flex;
    align-items: center;
    gap: 10px;

}

header div img {
    width: 70px;
    height: auto;
}

.sign-in-btn {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;
    background-color: #AC5512;
    color: white;
    border: 0;
    border-radius: 20px;
    width: 150px;
    font-weight: bold;


}
.sign-in-btn img {
    width: 30px;
    height: auto;
    padding-left: 25px;
}

nav {
    background-color: #AC5512;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

.front-image {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

.front-image-bar {
    height: 10px;
    background-color: #AC5512;
}

.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text-overlay h1 {
    margin: 0px 0px 5px 0px;

}
.text-overlay p {
    margin: 0px;
    font-size: 12px;
}

.query-search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.query-search button {
    background-color: rgb(222, 220, 220);
    margin-right: 10px;
    border-radius: 10px;
    border: 0;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;

}
.query-search button img {
    width: 70%;
    
}

.detailed-search {
    background-color: white;
    color: black;
    width: 800px;
    height: 400px;
    border-radius: 60px;
    border: 2px solid black;
}




.animal-adoption {
    color:#AC5512;
    margin-top: 150px;
    text-align: center;
}

 #cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 40px;
    column-gap: 20px;;
    justify-content: center;
    margin-bottom: 100px;
}


.card {
    border-radius: 10px;
    background-color: var(--tone, blanchedalmond);
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding-bottom: 16px;
}

.card img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card p {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.badge{
    font-size:14px; 
    padding:6px 10px; 
    border-radius:999px;
    background:#0000000d;
    margin-left: 6px;
  }

footer {
    background-color: #AC5512;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div {
    display: flex;
    align-items: center;
    color: white;
}
footer div img {
    width: 70px;
    height: auto;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer button {
    background-color: white;
    color: #AC5512;
    border: 0;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
/* add this utility */
.hidden { display: none !important; }