header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;

}

header div {
    display: flex;
    align-items: center;
    gap: 10px;

}

header div img {
    width: 70px;
    height: auto;
}

.sign-in-btn {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;
    background-color: #AC5512;
    color: white;
    border: 0;
    border-radius: 20px;
    width: 150px;
    font-weight: bold;


}
.sign-in-btn img {
    width: 30px;
    height: auto;
    padding-left: 25px;
}

nav {
    background-color: #AC5512;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

.front-image {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

.front-image-bar {
    height: 10px;
    background-color: #AC5512;
}

.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text-overlay h1 {
    margin: 0px 0px 5px 0px;

}
.text-overlay p {
    margin: 0px;
    font-size: 12px;
}

.query-search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.query-search button {
    background-color: rgb(222, 220, 220);
    margin-right: 10px;
    border-radius: 10px;
    border: 0;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;

}
.query-search button img {
    width: 70%;
    
}


.animal-adoption {
    color:#AC5512;
    margin-top: 150px;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    row-gap: 40px;
    column-gap: 10px;;
    justify-content: center;
    margin-bottom: 100px;
}

.card {
    border-radius: 6px;
    background-color: blanchedalmond;
    width: 100px;
    height: 150px;

}
.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100px;
    margin-bottom: 5px;
}
.card p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color:#AC5512;
    font-weight: bold;
    font-size: 14px;
}





footer {
    background-color: #AC5512;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div {
    display: flex;
    align-items: center;
    color: white;
}
footer div img {
    width: 70px;
    height: auto;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer button {
    background-color: white;
    color: #AC5512;
    border: 0;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
