<header>
    <div>
        <a href="/"><img src="../assets/Logo.png" style="height: 70px; width: 70px;"></a>
        <a href="/" class="logotext">HAPPINEST</a>
    </div>

    <div class="header-buttons">
        <a href="/signin" class="sign-up-btn">
            <img src="../assets/Sign-in-profile.png">
            <p style="font-weight: 400;">Sign In</p>
        </a>
    </div>
</header>

<nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT US</a>
    <a href="/contact">CONTACT US</a>
    <a href="/qa">Q&A</a>
</nav>