<header>
    <div>
        <a href="/"
            ><img src="../assets/Logo.png" style="height: 70px; width: 70px"
        /></a>
        <a href="/" class="logotext">HAPPINEST</a>
    </div>

    <div class="header-buttons">
        <a href="/signin" class="sign-up-btn">
            <img src="../assets/Sign-in-profile.png" />
            <p style="font-weight: 400">Sign In</p>
        </a>
    </div>
</header>

<nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT US</a>
    <a href="/contact">CONTACT US</a>
    <a href="/qa">Q&A</a>
</nav>
<script>
    const headerBtn = document.querySelector(".header-buttons .sign-up-btn p");

    if (window.user) {
        headerBtn.textContent = window.user.name;

        document.querySelector(".header-buttons .sign-up-btn").href =
            "/dashboard";
    } else {
        headerBtn.textContent = "Sign In";
        document.querySelector(".header-buttons .sign-up-btn").href = "/signin";
    }
</script>
