@font-face {
    font-family: 'Figtree';
    src: url(../assets/Figtree-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/Inter-VariableFont_opsz,wght.ttf) format(truetype);
    font-weight: 100 900;
    font-style: normal;
}

.sign-in-header {
    position: absolute;
    top: 10px;
    left: 70px;
    display: flex;
    gap: 10px;
    z-index: 10;
    display: flex;
    align-self: start;
    justify-content: flex-start;
    align-items: center;
}

a.logotext {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #AC5512;
    text-decoration: none;
}