<header>
    <div>
        <img src="../assets/Logo.png">
        <h1>HAPPINEST</h1>
    </div>

    <div class="header-buttons">
        <a href="signin.html" class="sign-in-btn">
            <img src="../assets/Sign-in-profile.png">
            <p>Sign In</p>
        </a>
        <a href="" class="sign-up-btn">
            <img src="../assets/Sign-in-profile.png">
            <p>Sign Up</p>
        </a>
    </div>
</header>

<nav>
    <a href="home.html">HOME</a>
    <a href="about.html">ABOUT US</a>
    <a href="contact.html">CONTACT US</a>
    <a href="qa.html">Q&A</a>
</nav>